/* - Mobile: 375px
- Desktop: 1440px */

/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

/* - Font size (paragraph): 15px */

/* - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700 */

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 1em;
    margin: 2em;
    max-width: 290px;
    box-shadow: 0 2em 2em 1em rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
    margin: .7em 0;
    font-weight: 700;
}

p {
    margin: 1.2em .9em 1.8em .9em;
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
